.achiev{
    text-align: center;
    background-image: url(https://planetazdorovo.ru/upload/iblock/128/128dd79f699c31f9a0b4b8b646ad9ae8.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    padding-top: 20px;   
}

.article1{
    background-color: rgba(170, 128, 66, 0.899);
    margin-right: auto;
    margin-left: auto; 
    border-radius: 20px;
    border-style:groove;
    width: 60%;   
}

.buttonArticles{
    background-color: rgba(170, 128, 66, 0.899);     
    border-radius: 20px;
    font-weight: bolder;
    cursor: pointer;
    width: 320px;
}

.nameList{
    margin-right: auto;
    margin-left: auto;  
}

.buttonArticle{
    background-color: rgba(170, 128, 66, 0.899);     
    border-radius: 20px;
    font-weight: bolder;
    cursor: pointer;     
}
.buttonArticle:hover {
    background-color: rgb(255, 0, 43);
    text-decoration: underline;
}

.buttonsArticles{
    display: flex;
    justify-content: space-between;    
    margin-left: 40px;
    margin-right: 20px;
}

.makeArticle{
    background-color: rgba(170, 128, 66, 0.899);
    margin-right: auto;
    margin-left: auto; 
    font-weight: bolder;
    border-radius: 20px;
    border-style:groove;
    width: 60%; 
    cursor: pointer;
}

.makeArticle:hover {
    background-color: rgba(13, 114, 230, 0.626);
    text-decoration: underline;
}

.pushArticles{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
   
}

.button{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.buttonAut{
    background-color: #c0c7c9d3; 
    margin-left: auto;
    margin-right: auto;        
    height: auto;      
    width: 200px;   
    border-radius: 44px;
    border-style: outset;
    padding: 3px 20px;
    font-style: oblique;    
    font-size: 16px;
    color: rgb(14, 55, 94);
    text-decoration: underline;   
    cursor: pointer;    
}

