.research{
    text-align: center;
    background-image: url(https://static.tildacdn.com/tild3238-3832-4531-b836-656265346434/shutterstock_2635731.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    padding-top: 20px;      
}

.resp{
    border-style: dotted;
    width: 300px;
    margin:  50px auto;     
    padding: 200px;
    font-weight: bolder;
}