.mainPage {
  text-align: center;
  background-image: url(https://proza.ru/pics/2023/03/24/1615.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  padding-top: 20px;  
}

.nameLab {
  background-color: #aab8bdcd; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  width: 40%;
  text-align: center;
  border-radius: 32px;
  border-style: ridge;
  font-style: oblique;
  font-weight: bolder;
  font-size: 22px;
  color: rgb(19, 9, 85);
  padding: 20px 0;    
}

.buttonMy{
  background-color: #c0c7c9d3;  
  margin: 20px 20px;
  height: auto; 
  width: 190px;        
  border-radius: 14px;
  border-style: outset;
  padding: 3px 20px;
  font-style: oblique;    
  font-size: 16px;
  color: rgb(14, 55, 94);
  text-decoration: none;   
  font-weight: bolder;
  cursor: pointer;     
  
}

.menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
  
}


.buttonMy:hover {
  background-color: hsla(199, 94%, 67%, 0.747);
}

